<ion-header>
  <ion-toolbar color="dark">
      <ion-back-button slot="start" defaulthref="home"></ion-back-button>
    <ion-title style="font-size: 12px;">SELECT COUNTRY</ion-title>
  </ion-toolbar>
  <ion-toolbar color="dark">
    <ion-searchbar (ionInput)="FilterJSONData($event)"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <ion-list>
    <ion-item *ngFor="let country of jsonData"> 
    <ion-label> {{country.Country}}- {{country.Slug}}-{{country.ISO2}}</ion-label>
    <ion-button (click)='navigatetoChan(country.Country)'>{{country.Country}}</ion-button>-->
    
  </ion-item>
  </ion-list>

</ion-content>
