<ion-header>
  <style>
    div.a{
      text-align: center;
    }
  </style>
  <ion-toolbar color="dark">
    <ion-back-button slot="start"> 
             
    </ion-back-button>
    <ion-title>prevention</ion-title>
  
 
  </ion-toolbar>
</ion-header>

<ion-content padding class="bg-prevention">
  <ion-text style="color: white; font-size: medium; font-style: italic;" > 
    <div class="a">
    To prevent infection and to slow transmission of COVID-19, do the following:<br><br><br>
  
    *Wash your hands regularly with soap and water, or clean them with alcohol-based hand rub.<br><br>
    *Maintain at least 1 metre distance between you and people coughing or sneezing.<br><br>
    *Avoid touching your face.<br><br>
    *Cover your mouth and nose when coughing or sneezing.<br><br>
    *Stay home if you feel unwell.<br><br>
    *Refrain from smoking and other activities that weaken the lungs.<br><br>
    *Practice physical distancing by avoiding unnecessary travel and staying away from large groups of people.<br> <br>
  </div>
    </ion-text>

</ion-content>
