.bg-prevention{
    --background:url("/assets/alllog.jpg") no-repeat center  center/cover;
}
p{
    font-size: 20px;
    list-style: height 2em; 
    margin-left: 12px;
    margin-right: 12px;
    line-height: 1.5;
    line-break: loose; 
 }